#ii {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 696px;
    top: 235px;
    width: 189px;
}
#iid {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 275px;
    top: 126px;
    width: 189px;
}
#in {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 275px;
    top: 163px;
    width: 189px;
}
#if {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 274px;
    top: 200px;
    width: 189px;
}
#it {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 275px;
    top: 236px;
    width: 189px;
}
#ie {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 274px;
    top: 272px;
    width: 189px;
}
#ina {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 732px;
    top: 301px;
    width: 189px;
}
#iu {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 275px;
    top: 310px;
    width: 191px;
}
#ina {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 274px;
    top: 347px;
    width: 191px;
}

#ius {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 274px;
    top: 384px;
    width: 191px;
}
#ipa {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 275px;
    top: 421px;
    width: 191px;
}
#ip {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 275px;
    top: 461px;
    width: 191px;
}

#lp	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: oblique;
    color: #130090;
    position: absolute;
    left: 86px;
    top: 457px;
    height: 22px;
    text-shadow: 0 0 0.2em #ffc810, 0 0 0.2em #ffc810
}
#lid	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: oblique;
    color: #130090;
    position: absolute;
    left: 89px;
    top: 125px;
    height: 22px;
    text-shadow: 0 0 0.2em #ffc810, 0 0 0.2em #ffc810
}
#ln	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: oblique;
    color: #130090;
    position: absolute;
    left: 84px;
    top: 167px;
    height: 22px;
    text-shadow: 0 0 0.2em #ffc810, 0 0 0.2em #ffc810
}
#lf	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: oblique;
    color: #130090;
    position: absolute;
    left: 81px;
    top: 200px;
    height: 22px;
    text-shadow: 0 0 0.2em #ffc810, 0 0 0.2em #ffc810
}
#lt	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: oblique;
    color: #130090;
    position: absolute;
    left: 85px;
    top: 235px;
    height: 22px;
    text-shadow: 0 0 0.2em #ffc810, 0 0 0.2em #ffc810
}
#le	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: oblique;
    color: #130090;
    position: absolute;
    left: 83px;
    top: 268px;
    height: 22px;
    text-shadow: 0 0 0.2em #ffc810, 0 0 0.2em #ffc810
}
#lu	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: oblique;
    color: #130090;
    position: absolute;
    left: 80px;
    top: 312px;
    height: 22px;
    text-shadow: 0 0 0.2em #ffc810, 0 0 0.2em #ffc810
}
#lna	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: oblique;
    color: #130090;
    position: absolute;
    left: 81px;
    top: 351px;
    height: 22px;
    text-shadow: 0 0 0.2em #ffc810, 0 0 0.2em #ffc810
}
#lus	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: oblique;
    color: #130090;
    position: absolute;
    left: 85px;
    top: 385px;
    height: 22px;
    text-shadow: 0 0 0.2em #ffc810, 0 0 0.2em #ffc810
}
#lpa	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: oblique;
    color: #130090;
    position: absolute;
    left: 81px;
    top: 421px;
    height: 22px;
    text-shadow: 0 0 0.2em #ffc810, 0 0 0.2em #ffc810
}
#li	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 30px;
    font-style: oblique;
    color: #fff6f8;
    position: absolute;
    left: 235px;
    top: 76px;
    height: 41px;
    text-shadow: 0 0 0.2em #0013ff, 0 0 0.2em #0013ff;
    width: 76px;
}
#lti	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: oblique;
    color: #130090;
    position: absolute;
    left: 89px;
    top: 497px;
    height: 22px;
    text-shadow: 0 0 0.2em #ffc810, 0 0 0.2em #ffc810
}

#cont {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 582px;
    width: 1177px;
}
#lop {
    position: absolute;
    left: 243px;
    top: 8px;
    border-radius: 70%;
    width: 76px;
    height: 67px;
}
#bum {
    position: absolute;
    border-radius: 20px;
    color: aliceblue;
    background: #970033;
    font-size: 20px;
    left: 139px;
    top: 505px;
    border: hidden;
    width: 121px;
    height: 37px;
}
#bue {
    position: absolute;
    border-radius: 20px;
    color: aliceblue;
    background: #970033;
    font-size: 20px;
    left: 297px;
    top: 505px;
    border: hidden;
    width: 121px;
    height: 37px;
}

#buttonevn {
    position: absolute;
    border-radius: 20px;
    color: aliceblue;
    background: #970033;
    font-size: 20px;
    left: 200px;
    top: 560px;
    border: hidden;
    width: 150px;
    height: 37px;
}

#tablep {
    position: absolute;
    left: 477px;
    top: 126px;
    width: 656px;
    height: 534px;
}

#lcap	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 30px;
    font-style: oblique;
    color: #fff6f8;
    position: absolute;
    left: 700px;
    top: 76px;
    height: 41px;
    text-shadow: 0 0 0.2em #0013ff, 0 0 0.2em #0013ff;
    width: 250px;
}