#tabs2121 {
    position: absolute;
    left: 800px;
    top: 50px;
    width: 200px;
    height: 377px;
}

#tabs3232 {
    position: absolute;
    left: 1100px;
    top: 50px;
    width: 200px;
    height: 377px;
}

#tablep7887{
    position: absolute;
    left: 1400px;
    top: 50px;
    width: 200px;
    height: 377px;
}

#tablep789987{
    position: absolute;
    left: 80px;
    top: 50px;
    width: 450px;
    height: 100px;
}
#tablep258{
    position: absolute;
    left: 880px;
    top: 350px;
    width: 100px;
    height: 100px;
}

#table258{
    position: absolute;
    left: 1350px;
    top: 350px;
    width: 100px;
    height: 100px;
}

#tabs5689 {
    position: absolute;
    left: 1100px;
    top: 750px;
    width: 100px;
    height: 100px;
}

#tablep654456 {
    position: absolute;
    left: 80px;
    top: 450px;
    width: 100px;
    height: 100px;
}


#curs {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 30px;
    font-style: oblique;
    color: #fff6f8;
    position: absolute;
    left: 600px;
    top: 101px;
    height: 22px;
    text-shadow: 0 0 0.2em #0013ff, 0 0 0.2em #0013ff
}

#cursxd {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 30px;
    font-style: oblique;
    color: #fff6f8;
    position: absolute;
    left: 1500px;
    top: 10px;
    height: 22px;
    width: 500px;
    text-shadow: 0 0 0.2em #0013ff, 0 0 0.2em #0013ff
}

#cursxd5689 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 30px;
    font-style: oblique;
    color: #fff6f8;
    position: absolute;
    left: 1200px;
    top: 700px;
    height: 22px;
    width: 600px;
    text-shadow: 0 0 0.2em #0013ff, 0 0 0.2em #0013ff
}


#curso1212 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 22px;
    font-style: oblique;
    color: #fff6f8;
    position: absolute;
    left: 800px;
    top: 10px;
    height: 22px;
    width: 300px;
    text-shadow: 0 0 0.2em #0013ff, 0 0 0.2em #0013ff
}

#curso789987 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 25px;
    font-style: oblique;
    color: #fff6f8;
    position: absolute;
    left: 220px;
    top: 5px;
    height: 22px;
    text-shadow: 0 0 0.2em #0013ff, 0 0 0.2em #0013ff
}

#curso369 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 25px;
    font-style: oblique;
    color: #fff6f8;
    position: absolute;
    left: 300px;
    top: 400px;
    height: 22px;
    text-shadow: 0 0 0.2em #0013ff, 0 0 0.2em #0013ff
}

#curso2121 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 25px;
    font-style: oblique;
    color: #fff6f8;
    position: absolute;
    left: 1150px;
    top: 10px;
    height: 22px;
    text-shadow: 0 0 0.2em #0013ff, 0 0 0.2em #0013ff
}

#curso258 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 25px;
    font-style: oblique;
    color: #fff6f8;
    position: absolute;
    left: 1000px;
    top: 300px;
    height: 22px;
    width: 300px;
    text-shadow: 0 0 0.2em #0013ff, 0 0 0.2em #0013ff
}

#curs258 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 25px;
    font-style: oblique;
    color: #fff6f8;
    position: absolute;
    left: 1600px;
    top: 300px;
    width: 300px;
    height: 22px;
    text-shadow: 0 0 0.2em #0013ff, 0 0 0.2em #0013ff
}

#rep {
    position: absolute;
    border-radius: 20px;
    color: aliceblue;
    background: #970033;
    font-size: 20px;
    left: 560px;
    top: 250px;
    border: hidden;
    width: 200px;
    height: 37px;
}

#tiporep {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 550px;
    top: 193px;
    width: 210px;
}