#t1212 {
    position: absolute;
    left: 100px;
    top: 158px;
    width: 400px;
    height: 377px;
}

#t2abs12121221 {
    position: absolute;
    left: 650px;
    top: 158px;
    width: 200px;
    height: 377px;
}