#curso {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 30px;
    font-style: oblique;
    color: #fff6f8;
    position: absolute;
    left: 550px;
    top: 101px;
    height: 22px;
    text-shadow: 0 0 0.2em #0013ff, 0 0 0.2em #0013ff
}
#loop {
    position: absolute;
    left: 622px;
    top: 18px;
    border-radius: 70%;
    width: 76px;
    height: 67px;
}
#cont {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 582px;
    width: 1177px;
}
#tabs {
    position: absolute;
    left: 350px;
    top: 158px;
    width: 656px;
    height: 377px;
}

#as {
    position: absolute;
    border-radius: 20px;
    color: aliceblue;
    background: #970033;
    font-size: 20px;
    left: 1043px;
    top: 193px;
    border: hidden;
    width: 121px;
    height: 37px;
}