#int1 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 200px;
    top: 250px;
    width: 189px;
}
#indes1 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 200px;
    top: 200px;
    width: 189px;
}
#ind1 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    color: #1355CA;
    text-decoration: overline;
    position: absolute;
    left: 200px;
    top: 300px;
    width: 189px;
    height: 100px;
}
#lnti1	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: oblique;
    color: #130090;
    position: absolute;
    left: 90px;
    top: 250px;
    height: 22px;
    text-shadow: 0 0 0.2em #ffc810, 0 0 0.2em #ffc810
}
#lndes1	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: oblique;
    color: #130090;
    position: absolute;
    left: 90px;
    top: 200px;
    height: 22px;
    text-shadow: 0 0 0.2em #ffc810, 0 0 0.2em #ffc810
}
#lnd1	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    font-style: oblique;
    color: #130090;
    position: absolute;
    left: 90px;
    top: 300px;
    height: 22px;
    text-shadow: 0 0 0.2em #ffc810, 0 0 0.2em #ffc810
}
#lnt1	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 30px;
    font-style: oblique;
    color: #fff6f8;
    position: absolute;
    left: 200px;
    top: 150px;
    height: 22px;
    text-shadow: 0 0 0.2em #0013ff, 0 0 0.2em #0013ff
}

#usuarios	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 30px;
    font-style: oblique;
    color: #fff6f8;
    position: absolute;
    left: 800px;
    top: 80px;
    height: 22px;
    text-shadow: 0 0 0.2em #0013ff, 0 0 0.2em #0013ff
}


#buzon	{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 30px;
    font-style: oblique;
    color: #fff6f8;
    position: absolute;
    left: 750px;
    top: 400px;
    height: 22px;
    width: 300px;
    text-shadow: 0 0 0.2em #0013ff, 0 0 0.2em #0013ff
}

#cont {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 572px;
    width: 2505px;
}
#nlogo1 {
    position: absolute;
    left: 230px;
    top: 70px;
    border-radius: 70%;
    width: 76px;
    height: 67px;
}
#bbr1 {
    position: absolute;
    border-radius: 20px;
    color: aliceblue;
    background: #970033;
    font-size: 20px;
    left: 200px;
    top: 420px;
    border: hidden;
    width: 121px;
    height: 37px;
}

#bbr222 {
    position: absolute;
    border-radius: 20px;
    color: aliceblue;
    background: #970033;
    font-size: 20px;
    left: 200px;
    top: 480px;
    border: hidden;
    width: 121px;
    height: 37px;
}


body {
    background-image: url("../Assets/fondo.jpg");
}