#taa1212 {
    position: absolute;
    left: 620px;
    top: 158px;
    width: 500px;
    height: 377px;
}


#taab1212 {
    position: absolute;
    left: 100px;
    top: 158px;
    width: 500px;
    height: 377px;
}

